/* reset */
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0;}
/*body,button,input,select,textarea{font:12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;}*/
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ol,ul{list-style:none}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
i{font-style: normal;}

/* common */
/* @font-face{font-familyï¼š "Open Sans";src:url('fonts/Open Sans.ttf') format('truetype');font-style:normal;} */
body{background:#e5e5e5;font:14px/1.5 'Open Sans', sans-serif,"Microsoft YaHei UI Light","Microsoft Yahei UI","Microsoft Yahei","Hiragino Sans GB",tahoma;}
.clearfix:after{content:'';clear:both;display:block;height:0;visibility:hidden;}
.container{width:1200px;margin:0 auto;}
.fll{float:left;}
.flr{float:right;}
.noborder{border:none!important;}
a,a:visited,a:hover{text-decoration:none;color:#969696;}
.en{font-family: 'Open Sans', sans-serif;}

/* header */
.head-menu{height:80px;background:#fff;}
.head-menu .logo{float:left;margin-top:13px;}
.head-menu ul{float:right;}
.head-menu ul li{float:left;line-height:80px;}
.head-menu ul li a{font-size:16px;padding:0 45px;transition:ease all 0.3s;}
.head-menu ul li a:hover{color:#000;}
.head-menu ul li a.cur{color:#000;font-family: "Microsoft YaHei";}
.head-menu .lang{float:right;line-height:80px;padding-left:30px;border-left:1px solid #ccc;color:#e6e6e6;}
.head-menu .lang a{font-size:16px;padding:0 0 0 8px;}
.head-menu .lang a.cur{color: #000;padding: 0 8px;}

/* footer */
.footer-menu{padding-top:25px;height:250px;background:#fff;}
.footer-menu .fll .contact-item{width:375px;border-bottom:1px solid #ccc;height:75px;line-height:75px;font-size:19px;color:#969696;}
.footer-menu .flr .contact-item{width:535px;text-align:center;}
.footer-menu .contact-item .icon-total{display:inline-block;background-image:url('../images/icon-total.png');background-repeat: no-repeat;}
.footer-menu .fll .contact-item .icon-total{width:45px;height:45px;position:relative;top:15px;margin-right:20px;}
.footer-menu .flr .contact-item .icon-total{width:82px;height:82px;position:relative;top:15px;}
.footer-menu .flr .contact-item .icon-total.icon-in{left:-2px;}
.footer-menu .flr .contact-item .icon-total.icon-pin{left:4px;}
.footer-menu .fll .contact-item a,.footer-menu .fll .contact-item i{float:right;}
.footer-menu .contact-item .icon-mobile{background-position:0 0;}
.footer-menu .contact-item .icon-wx{background-position:-44px 0;}
.footer-menu .contact-item .icon-tel{background-position:0 -44px;}
.footer-menu .contact-item .icon-fax{background-position:-45px -44px;}
.footer-menu .contact-item .icon-mail{background-position:0 -88px;}
.footer-menu .contact-item .icon-skype{background-position:-45px -88px;}
.footer-menu .contact-item .icon-be{background-position:1px -217px;left: -8px;}
.footer-menu .contact-item .icon-in{background-position:-80px -217px;margin:0 30px 0 60px;}
.footer-menu .contact-item .icon-pin{background-position:-161px -217px;margin:0 60px 0 30px;}
.footer-menu .contact-item .icon-code{background-position:0 -133px;left: 8px;}
.footer-menu .flr .contact-item .icon-location{width:50px;height:50px;background-position:-89px 0;margin-right:108px;}
.footer-menu .flr .location{font-size:18px;color:#787878;text-align:right;}
.footer-menu .flr .location a{font-size:19px;}
.footer-menu .flr .copyright{border-top:1px solid #ccc;border-bottom:1px solid #ccc;line-height:35px;text-align:right;color:#c8c8c8;margin:30px 0 0;}

/* index */
.mrt20{margin-top: 20px;}
.mrl20{margin-left: 20px;}
.index-page{margin: 30px auto;}
.index-page .section01{width: 700px;font-size: 0;}
.index-page .section02{width: 481px;font-size: 0;}

/* project */
.project-page{margin: 30px auto 15px;}
.project-wrap a{float: left;margin: 0 0 15px 15px;}
.project-wrap a:nth-child(3n+1){margin-left: 0;}
.project-wrap a img{width: 390px;height: 250px;}

/* about */
.about-page{margin: 30px auto;}
.about-page .section01{width: 1200px;height: 540px;background: #fff;}
.about-page .section01 .fll{margin: 100px 0 0 65px;}
.about-page .section01 .flr{margin: 165px 150px 0 0;}
.about-page .section01 p{font-size: 20px;line-height: 40px;letter-spacing: 1px;color: #646464;}
.about-page .section02{width: 1200px;height: 600px;background: #fff;}
.about-page .section02 .fll{margin: 120px 0 0 65px;}
.about-page .section02 .flr{margin: 150px 100px 0 0;}
.about-page .section02 p{font-size: 20px;line-height: 50px;color: #646464;}
.about-page .section03{width: 1200px;height: 500px;background: #fff;}
.about-page .section03 h3{font-size: 20px;font-weight:400;line-height: 20px;padding: 90px 70px 90px 65px;border-right: 1px solid #ccc;margin-top: 120px;}
.about-page .section03 .fll2{float: left;margin: 65px 0 0 35px;}
.about-page .section03 p{font-size: 20px;padding: 0 65px;color: #646464;margin-top: 55px;}
.about-page .section04{width: 1200px;height: 1585px;background: #fff;}
.about-page .section04 .desc{font-size: 20px;color: #646464;padding: 80px 0 80px 65px;}
.about-page .section04 .desc p{line-height: 40px;}
.about-page .section04 .member-item{width: 555px;height: 610px;background: #e6e6e6;color: #646464;;margin: 0 15px 30px 30px;position: relative;}
.about-page .section04 .member-item:nth-child(2n){margin-left: 15px;}
.about-page .section04 .member-item h3{font-size: 32px;line-height: 32px;margin: 100px 0 50px 30px;}
.about-page .section04 .member-item h3 span{padding-left: 15px;}
.about-page .section04 .member-item h4{font-size: 20px;line-height: 20px;margin: 0 0 80px 30px;font-weight: normal;}
.about-page .section04 .member-item p{font-size: 20px;line-height: 35px;margin: 0 0 0 30px;}
.about-page .section04 .member-item .avatar{width: 200px;height: 200px;overflow: hidden;margin: 0 auto;position: absolute;top: 0;right: 30px;}
.section04 .member-item .avatar img{position: relative;left: -92px;top: -10px;}

/* service */
.service-page{margin: 30px auto;}
.service-page .section01{width: 1200px;height: 540px;background: #fff;}
.service-page .section01 p{font-size: 20px;line-height: 50px;padding: 100px 0 0 60px;}
.service-page .section02{width: 1200px;height: 1040px;background: #fff url('/images/service/service-bg.png') no-repeat center;position: relative;}
.service-page .section02 .main-title{width: 184px;height: 144px;font-size: 30px;text-align: center;position: absolute;top: 428px;left: 50%;margin-left: -92px;background: #fff;border-radius: 100%;padding-top: 40px;}
.service-page .section02 .item1{position: absolute;top: 140px;left: 30px;color: #646464;width: 45%;}
.service-page .section02 .item1 h3{font-size: 60px;line-height: 60px;padding:0 0 80px 50px;font-style: italic;font-weight: 400;}
.service-page .section02 .item1 p{font-size: 20px;line-height: 40px;}
.service-page .section02 .item2{position: absolute;top: 140px;right: 30px;color: #646464;}
.service-page .section02 .item2 h3{font-size: 60px;line-height: 60px;padding:0 100px 80px 0;text-align: right;font-style: italic;font-weight: 400;}
.service-page .section02 .item2 p{font-size: 20px;line-height: 40px;text-align: right;}
.service-page .section02 .item3{position: absolute;top: 575px;left: 30px;color: #646464;}
.service-page .section02 .item3 h3{font-size: 60px;line-height: 60px;padding:0 0 80px 110px;font-style: italic;font-weight: 400;}
.service-page .section02 .item3 p{font-size: 20px;line-height: 40px;}
.service-page .section02 .item4{position: absolute;top: 575px;right: 30px;color: #646464;}
.service-page .section02 .item4 h3{font-size: 60px;line-height: 60px;padding:0 100px 80px 0;text-align: right;font-style: italic;font-weight: 400;}
.service-page .section02 .item4 p{font-size: 20px;line-height: 40px;text-align: right;}
.service-page .section03 .item h3{font-size: 40px;}
.service-page .section03 .item1,.service-page .section03 .item2{top: 152px;}
.service-page .section03 .item3,.service-page .section03 .item4{top: 585px;}

/* contact */
.contact-page{margin: 30px auto;}
.contact-page .section01{width: 1115px;height: 580px;background: #fff;padding:20px 20px 0 65px;}
.contact-page .section01 .location{display: block;width:82px;height:82px;margin: 180px 0 25px 0;background: url('../images/icon-total.png') no-repeat center;background-position:-243px -217px;}
.contact-page .section01 p{font-size: 20px;line-height: 40px;color: #646464;}
.contact-page .section02{width: 1070px;height: 510px;padding: 95px 65px;background: #fff;margin-top: 20px;color: #646464;}
.contact-page .section02 h3{font-size: 22px;margin-bottom: 95px;font-weight:400;}
.contact-page .section02 .sec-item{float:left;/* width: 50%; */margin-bottom: 60px;}
.contact-page .section02 .sec-item.flr{float: right;}
.contact-page .section02 .sec-item a{float: left;}
.contact-page .section02 .sec-item .icon{display: block;background:url('../images/icon-total.png') no-repeat center center;width: 142px;height:142px;}
.contact-page .section02 .sec-item .icon-be{background-position: -140px 0;}
.contact-page .section02 .sec-item .icon-code{background-position: -448px -140px;}
.contact-page .section02 .sec-item .icon-in{background-position: -282px 0;width: 140px;}
.contact-page .section02 .sec-item .icon-pin{background-position: -422px 0;}
.contact-page .section02 .sec-item p{font-size: 20px;line-height: 40px;float: left;margin: 28px 35px;}
.contact-page .section02 .sec-item .mr0{margin-right: 0;}
.contact-page .section03{width: 1200px;height: 600px;background: #fff;color: #646464;margin-top: 20px;}
.contact-page .section03 h3{font-size: 22px;padding: 95px 65px;font-weight:400;}
.contact-page .section03 .con-item{float: left;font-size: 25px;margin: 0 65px;color: #969696;font-family: serif;}
.contact-page .section03 .con-item hr{display: block;width: 265px;margin: 15px 0 20px;border: none;border-top: 1px solid #e6e6e6;}
.contact-page .section03 .con-item p{letter-spacing:1.5px;}
.contact-page .section03 .con-item p a{letter-spacing:0.7px;}
.contact-page .section03 .con-item .icon{float: left;background:url('../images/icon-total.png') no-repeat center center;width: 72px;height:72px;margin-right: 40px;}
.contact-page .section03 .con-item .icon-phone{background-position: -84px -142px;}
.contact-page .section03 .con-item .icon-wx{background-position: -157px -142px;}
.contact-page .section03 .con-item .icon-tell{background-position: -230px -142px;}
.contact-page .section03 .con-item .icon-fax{background-position: -301px -142px;}
.contact-page .section03 .con-item .icon-mail{background-position: -373px -142px;}
.contact-page .section03 .con-item .icon-skype{background-position: -325px -222px;}

/* project-show */
.project-show-page{/* margin: 30px auto 10px; */}
.project-show-page img{/* margin-bottom: 20px; */}